*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: red;
    background-color: #fff;
    font-size: 22px;
}


h3{
    color: blue;
    background: #fff;
    text-transform: uppercase;
}
p{
    color: red;
    background-color: aqua;
    font-size: 18px;
}
h2{
    margin: 25px;
    color: aqua;
    background: #000;
}